{% extends 'base.html' %}
{% block content %}
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-7 col-lg-7 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-4">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Dogma!</h1>
                                    </div>
                                    <!-- action-->
                                    <form class="user" action="/" method="post">
                                        {{ form.csrf_token }}
                                        {% include "form_errors.html" %}
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="userid" name="userid" placeholder="Enter ID" value="{{ form.userid.data or '' }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="password" name="password" placeholder="Password"
                                                value="{{ form.password.data or '' }}">
                                        </div>
                                        <!-- <a href="/main" class="btn btn-primary btn-user btn-block"> -->
                                            <button class="btn btn-primary btn-user btn-block" type="submit">Login</button>
                                        <!-- </a> -->
                                    </form>
                                        <hr>
                                        <a href="/oauth/login" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/signup/">Sign up?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>
{% endblock %}