{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Image Classfication</h1>
    <br><br>
    <form action="/main/submit" method="post" enctype="multipart/form-data">
        <div>
            <label for="pwd">Upload Your Image :</label>
            <div>
                <input type="file" placeholder="Hours Studied" name="my_image" id="pwd">
            </div>
        </div>

        <div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>

    {% if prediction %}

    <img src="../../{{img_path}}" height="400px" width="400px">
    <h2> Your Prediction   : <i> {{prediction}} </i></h2>

    {% endif %}

</div>
{% endblock %}